*{
    padding: 0;
    margin:0;
    font-family: inherit;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding:2%;
    height:90vh;
    overflow: hidden;
}

#title{
    font-family: 'Roboto';
    font-size: 3rem;
    font-weight: 900;
}

.grid {
    background-color: rgb(255, 255, 255);
    height:60vh;
    aspect-ratio: 1/1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.grid button{
    background-color: transparent;
}

#box-00{
    border:none;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
}

#box-01{
    border:none;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
    border-left: 5px solid black;
}

#box-02{
    border:none;
    border-bottom: 5px solid black;
    border-left: 5px solid black;
}

#box-10{
    border:none;
    border-top: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}

#box-11{
    border:none;
    border: 5px solid black;
}

#box-12{
    border:none;
    border-bottom: 5px solid black;
    border-left: 5px solid black;
    border-top: 5px solid black;
}

#box-20{
    border:none;
    border-top: 5px solid black;
    border-right: 5px solid black;
}

#box-21{
    border:none;
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
}

#box-22{
    border:none;
    border-top: 5px solid black;
    border-left: 5px solid black;
}

.box:hover {
    background-color: rgb(224, 224, 224);
    transition: background-color 0.3s ease;
}

.box{
    font-family: 'Roboto';
    font-size: 8rem;
    font-weight: 900;
}

#reset{
    padding: 5%;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 0px;
    bottom: 110px; 
    right: 4vw;
}

#reset svg{
    width:120px;
    height: 120px;
}

#reset svg:hover{
    fill: rgb(224, 188, 89);
}

#reset:active{
    transform: translateY(5px);
    transition: transform 0.3s ease;
}

#scores{
    display: flex;
    align-items: center;
    font-family: 'Roboto';
}

#scores{
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    margin-right: 100px;
}

#scores p{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}

#score1{
    font-weight: 900;
    color:rgb(224, 188, 89);
    font-size: 1.4em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#score2{
    font-weight: 900;
    color:#4c8edf;
    font-size: 1.4em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#Xplayer{
    color:rgb(224, 188, 89);
    font-size: 1.2em;
}

#Oplayer{
    color:#4c8edf;
    font-size: 1.2em;
}

#tic{
    color:rgb(224, 188, 89);
}

#toe{
    color:#4c8edf;
}
